.introduction,
.about,
.cases,
.contact {
  padding: 20px;
  height: max-content;
}

@media (max-width: 768px) {
  .introduction,
  .about,
  .reporting-prices,
  .cases,
  .contact {
    gap: 1rem;
  }
  .services {
    flex-direction: column;
    .info {
      width: 100%;
    }
  }
  .reporting-prices {
    width: 100%;
  }
  .cases {
    .sample-cases {
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@media (max-width: 500px) {
  .introduction,
  .about,
  .reporting-prices,
  .cases,
  .contact {
    padding: 20px;
    height: max-content;
    gap: 1rem;
  }
  .introduction {
    flex-direction: column;
    img {
      width: max-content;
    }
  }
  .services {
    flex-direction: column;
    .info {
      width: 100%;
      padding: 20px;
    }
  }
  .cases {
    .sample-cases {
      flex-direction: column;
      gap: 1rem;
    }
  }

  .reporting-prices {
    .prices {
      flex-direction: column;
    }
  }
}
